<div class="mb-4 flex justify-end">

  <button (click)="openAddGroupDialog()" class="flex items-center gap-2"
          color="primary" mat-raised-button>
    <mat-icon [svgIcon]="'organizo-outline-icons:plus'"></mat-icon>
    {{ 'groups.addGroup' | translate }}
  </button>

</div>

<div class="flex flex-col">
  <mat-checkbox (change)="onFilterChange($event)" value="true"> {{ 'groups.myGroups' | translate }}</mat-checkbox>

  <organizo-grid-wrapper
    [config]="gridDef?.gridConfig"
    [column-config]="gridDef?.gridConfig?.columnsDef"
    [data-source]="gridDef?.dataSource$"
  ></organizo-grid-wrapper>

</div>
