<div [class]="to?.class" class="w-full">
  @if (type === 'folder') {
    <mat-icon class="w-1/4 text-primary-400" svgIcon="folder"></mat-icon>
  } @else if (type === 'subFolder') {
    <mat-icon class="w-1/4 text-primary-400" svgIcon="sub-folder"></mat-icon>
  } @else if (type === 'group') {
    <mat-icon class="w-1/4 text-primary-400" svgIcon="group"></mat-icon>
  } @else if (type === 'user') {
    <mat-icon class="w-1/4 text-primary-400" svgIcon="user"></mat-icon>
  } @else if (type === 'document') {
    <div class="w-1/4 min-w-[25px] relative flex flex-col">
      <mat-icon
        class="icon-size-8 text-hint opacity-50"
        svgIcon="document">
      </mat-icon>
      @if (to?.fileType && to?.fileType(rowData)) {
        <div
          class="absolute left-0 bottom-0 truncate max-w-[30px] w-[75%] px-[1px] rounded text-[9px] font-[300] leading-4 text-white"
          [matTooltip]="fileType.ext?.toUpperCase()"
          [matTooltipClass]="getMatTooltipClass(fileType.mimeType)"
          [class.bg-red-600]="fileType.mimeType === MimeTypes.PDF"
          [class.bg-blue-600]="fileType.mimeType === MimeTypes.Word"
          [class.bg-green-600]="fileType.mimeType === MimeTypes.Excel"
          [class.bg-gray-600]="fileType.mimeType === MimeTypes.Text"
          [class.bg-amber-600]="fileType.mimeType === MimeTypes.JPEG ||
                                  fileType.mimeType === MimeTypes.GIF ||
                                  fileType.mimeType === MimeTypes.BMP ||
                                  fileType.mimeType === MimeTypes.PNG ||
                                  fileType.mimeType === MimeTypes.SVG ||
                                  fileType.mimeType === MimeTypes.TIFF">
          {{ fileType.ext?.toUpperCase() }}
        </div>
      } @else {
        <div
          class="absolute left-0 bottom-0 truncate max-w-[30px] w-[75%] px-[1px] rounded text-[9px]
                   font-[300] leading-4 text-white bg-warn-600">
          ...
        </div>
      }
    </div>

  }

  @if (to?.label) {
    <p [matTooltip]="to?.label | translate"> {{ to?.label | translate }}: </p>
  }

  <p [matTooltip]="cellData" class="w-3/4 min-w-[100px] truncate"> {{ cellData }} </p>
</div>
