@if (documentContent$ | async) {
  <div class="w-full h-full flex flex-col gap-2 p-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center gap-2">
        <div class="relative flex flex-col">
          <mat-icon
            class="icon-size-8 text-hint opacity-50"
            svgIcon="document">
          </mat-icon>
          @if (get(fileType, 'mimeType')) {
            <div
              class="absolute left-0 bottom-0 truncate max-w-[30px] w-[75%] px-[1px] rounded text-[9px] font-[300] leading-4 text-white"
              [class.bg-red-600]="fileType.mimeType === MimeTypes.PDF"
              [class.bg-blue-600]="fileType.mimeType === MimeTypes.Word"
              [class.bg-green-600]="fileType.mimeType === MimeTypes.Excel"
              [class.bg-gray-600]="fileType.mimeType === MimeTypes.Text"
              [class.bg-amber-600]="fileType.mimeType === MimeTypes.JPEG ||
                                  fileType.mimeType === MimeTypes.GIF ||
                                  fileType.mimeType === MimeTypes.BMP ||
                                  fileType.mimeType === MimeTypes.PNG ||
                                  fileType.mimeType === MimeTypes.SVG ||
                                  fileType.mimeType === MimeTypes.TIFF">
              {{ fileType.ext?.toUpperCase() }}
            </div>
          } @else {
            <div
              class="absolute left-0 bottom-0 truncate max-w-[30px] w-[75%] px-[1px] rounded text-[9px]
                   font-[300] leading-4 text-white bg-warn-600">
              ...
            </div>
          }
        </div>
        <p> {{ get(selectedDocument$ | async, 'title') }} </p>
      </div>
      <mat-icon class="cursor-pointer" svgIcon="closeDialog" (click)="closeContent()"></mat-icon>
    </div>

    <button
      class="b-0 p-0 flex gap-1 justify-end"
      [class.text-primary]="canViewProperties"
      (click)="getDocumentProperties()"
      [disabled]="!canViewProperties"
    >
      {{ 'folderStructure.openDocumentProperties' | translate }}
      <mat-icon
        [class.text-primary]="canViewProperties"
        svgIcon="organizo-outline-icons:arrow-long-left">
      </mat-icon>
    </button>
    <embed class="w-full h-full" [src]="sanitizedURL" [type]="fileType.mimeType"/>
  </div>
}

