.dialog-header {
  margin-bottom: 0;
  font-size: 22px;
  min-height: 0;
}

.container-users {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  height: 395px;
}

.container-users-groups-prev {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .cont-user-group {
    width: 100%;
  }

  .cont-features {
    width: 30%;
  }
}

.container-groups {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.svg {
  cursor: pointer;
}

mat-radio-group {
  display: flex;
  justify-content: space-between;
  width: 21%;
}

:host ::ng-deep {
  mat-checkbox {
    width: 50% !important;
  }

  .cont-features {
    mat-checkbox {
      width: 100% !important;
    }
  }

  formly-field-mat-multicheckbox {
    width: 100% !important;
  }
}

.container-button-form {
  display: flex;

  button:last-child {
    margin: 0 20px;
  }
}

//:host ::ng-deep mat-form-field {
//  overflow: auto !important;
//  height: 30vh !important;
//  min-height: 100px !important;
//  padding: 4px !important;
//}

:host ::ng-deep .mat-mdc-form-field-flex {
  padding: 0 !important;
}

//:host ::ng-deep mat-form-field:has(.mdc-checkbox__ripple) {
//  overflow: auto !important;
//  height: 30vh !important;
//  min-height: 100px !important;
//  padding: 4px !important;
//}

:host ::ng-deep {
  .mdc-form-field > .mdc-label {
    @apply truncate max-w-[200px] #{'!important'};
  }
}

:host ::ng-deep {

  .search{
    position: relative;
    top: 40px;
    left: 2%;
    z-index: 10
  }

  .search .mat-mdc-form-field{
    width : 94%;
  }

  .multi-groups {
    position: relative;
    top: -50px;
  }

  .multi-groups .mat-mdc-text-field-wrapper{
    padding : 90px 10px;
  }

  .multi-groups .mat-mdc-form-field-infix {
    overflow: auto;
    height: 30vh;
  }
}

