<div class="dialog-container">
  <div class="dialog-header">
    {{ 'processEngine.dispatchTask' | translate }}
    <mat-icon (click)="closeDialog()" class="svg" svgIcon="closeDialog"></mat-icon>
  </div>

  <div class="dialog-content">
    <form (ngSubmit)="submit(formDef.model)" [formGroup]="formDef.group">
      <formly-form
        [fields]="formDef.fields"
        [form]="formDef.group"
        [model]="formDef.model"
        [options]="formDef.options"
      ></formly-form>
      <button #btn hidden type="submit"></button>
    </form>

  </div>

  <div class="dialog-actions">
    <button
      [disabled]="!formDef.group.valid"
      (click)="btn.click()"
      color="primary"
      mat-raised-button
    > {{'app.submit' | translate}}</button>

    <button (click)="closeDialog()" color="secondary" mat-raised-button> {{ 'app.close' | translate }}</button>
  </div>
</div>
