.loader {
  position: absolute;
  background: #808080a8;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  bottom: 0;
  left: 0;

  div {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10001;
    bottom: 0;
    left: 0;
    transform: scale(0.25);
  }
}

:host ::ng-deep {
  svg > g > g:first-child > g > path {
    // fill:var(--sss-primary);
    stroke: var(--organizo-primary);
  }
}
