<div class="dialog-container">
  <div class="dialog-header">
    {{ 'folderStructure.checkIn' | translate }}
    <mat-icon (click)="closeDialog()" svgIcon="closeDialog"></mat-icon>
  </div>

  <div class="dialog-content">
    <organizo-folder-document-properties (form)="onDynamicFormValueChange($event)"/>
    <form [formGroup]="formDef.group">
      <formly-form
        [fields]="formDef.fields"
        [form]="formDef.group"
        [model]="formDef.model"
        [options]="formDef.options">
      </formly-form>
    </form>
  </div>
  <div class="dialog-actions">
    <button
      (click)="submit()"
      [disabled]="!(formDef.group.valid || dynamicForm.group.valid)"
      color="primary"
      mat-raised-button
      type="submit"
    >
      {{ 'folderStructure.checkIn' | translate }}
    </button>
    <button (click)="closeDialog()" color="secondary" mat-raised-button type="button"> {{ 'app.close' | translate }}
    </button>
  </div>
</div>
