<mat-expansion-panel (cdkDropListDropped)="dropItem($event)" [(expanded)]="repeatSectionExpanded"
                     [hideToggle]="field.fieldGroup.length === 0"
                     cdkDropList
                     class="w-full mt-1">
  <mat-expansion-panel-header>
    <mat-panel-title class="flex items-center justify-between">
      <div>{{ props?.label | translate }}</div>
      @if (!(props?.readonly || formState?.readonly)) {
        <div class="m-8" [class.hidden]="props?.viewMode">
          <button (click)="addSection($event)" color="primary" mat-raised-button type="button">
            <mat-icon [svgIcon]="'organizo-outline-icons:plus'"></mat-icon>
            <span class="ml-2 mr-1">{{ (props.addSectionText || 'app.add') | translate }}</span>
          </button>
        </div>
      }
    </mat-panel-title>
  </mat-expansion-panel-header>

  @for (fieldItem of field.fieldGroup; track i; let i = $index) {
    <div cdkDrag [cdkDragData]="fieldItem" class="w-full">
      @if (!props?.viewMode) {
        <mat-expansion-panel [(expanded)]="isExpanded[i]" class="mt-1">
          <mat-expansion-panel-header>
            <mat-panel-title class="flex items-center justify-between">
              <div class="flex items-center">
                <button cdkDragHandle mat-icon-button
                        (click)="$event.stopPropagation();" class="cursor-move mx-2" type="button">
                  <mat-icon class="text-primary"
                            svgIcon="organizo-solid-icons:bars-2">
                  </mat-icon>
                </button>
                <span class="block mx-2 truncate max-w-[50px]">{{ getFieldName(fieldItem, i) }}</span>
              </div>
              @if (!(props?.readonly || formState?.readonly) && !props?.viewMode) {
                <button (click)="removeSection(i, $event);" class="mx-2" color="warn" mat-icon-button type="button">
                  <mat-icon>delete</mat-icon>
                  @if (props?.removeSectionText) {
                    <span class="ml-2 mr-1">{{ props?.removeSectionText | translate }}</span>
                  }
                </button>
              }
            </mat-panel-title>
          </mat-expansion-panel-header>
          <formly-field [field]="fieldItem"></formly-field>
        </mat-expansion-panel>
      } @else {
        <formly-field [field]="fieldItem"></formly-field>
      }
    </div>
  }

</mat-expansion-panel>
