#document-list-element {
  overflow-y: auto;
  resize: horizontal;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 80vh;
  transition: border-right-color 250ms ease-in-out;
}

:host ::ng-deep .organizo-drawer-content {
  padding: 0 !important;
  @apply flex flex-col #{'!important'};
}


