<div class="col-md-12 col-12">
  @if (props?.type === 'content') {
    <div class="flex items-center justify-between gap-2 border-and-rounded p-4" appDragDrop
         (dropFile)="onDropFile($event)">
      @if (formControl.value) {
        <div class="flex items-center">
          <div class="relative flex flex-col">
            <mat-icon
              class="icon-size-8 text-hint opacity-50"
              svgIcon="document">
            </mat-icon>
            <div
              class="absolute left-0 bottom-0 truncate max-w-[50px] w-[75%] px-[1px] rounded text-[9px] font-[200] leading-4 text-white"
              [matTooltip]="fileType.ext?.toUpperCase()"
              [class.bg-red-600]="fileType.mimeType === MimeTypes.PDF"
              [class.bg-blue-600]="fileType.mimeType === MimeTypes.Word"
              [class.bg-green-600]="fileType.mimeType === MimeTypes.Excel"
              [class.bg-gray-600]="fileType.mimeType === MimeTypes.Text"
              [class.bg-amber-600]="fileType.mimeType === MimeTypes.JPEG ||
                                  fileType.mimeType === MimeTypes.GIF ||
                                  fileType.mimeType === MimeTypes.BMP ||
                                  fileType.mimeType === MimeTypes.PNG ||
                                  fileType.mimeType === MimeTypes.SVG ||
                                  fileType.mimeType === MimeTypes.TIFF">
              {{ fileType.ext?.toUpperCase() }}
            </div>
          </div>
          <p> {{ formControl.value.name }}</p>
        </div>
      }
      <mat-icon svgIcon="imgUploader" class="text-primary-400" (click)="file.click()"></mat-icon>
      <input #file type="file" [required]="props?.required" [readOnly]="props?.readonly"
             (input)="onFileChange($event, props?.type)" hidden>
      @if (isImageChanged) {
        <mat-icon class="icon-size-6" color="primary" svgIcon="trash" (click)="deleteImg()"></mat-icon>
      }
    </div>

  }
</div>
