<div class="flex min-h-[52px] w-full px-4 items-center">

  @if (crumbs.length > crumbsLineCount) {
    <button
      [matMenuTriggerFor]="breadcrumbMenu"
      class="mr-2"
      mat-icon-button>
      <mat-icon class="icon-size-5" color="primary" svgIcon="organizo-outline-icons:chevron-double-down"></mat-icon>
    </button>
    <mat-menu #breadcrumbMenu="matMenu">
      @for (crumb of menuItems; track i; let i = $index) {
        <button class="p-0 b-0 flex items-center justify-start" (click)="select(crumb, i)">
          <mat-icon class="icon-size-4" color="primary" [svgIcon]="getImgSrc(crumb)"></mat-icon>
          <p [matTooltip]="crumb.name" class="max-w-[80px] truncate mx-1 text-secondary">{{ crumb.name }}</p>
        </button>
      }
    </mat-menu>
  }

  @for (crumb of otherItems; track i; let i = $index) {
    <button @fadeIn @fadeOut (click)="select(crumb, i + (crumbs.length > crumbsLineCount ? menuItems.length : 0))"
            class="p-0 b-0 flex items-center justify-start"
            [disabled]="i === otherItems.length - 1">
      @if (i != 0) {
        <mat-icon
          class="icon-size-4"
          color="primary"
          svgIcon="organizo-outline-icons:chevron-right">
        </mat-icon>
      }
      <mat-icon class="icon-size-4" color="primary" [svgIcon]="getImgSrc(crumb)"></mat-icon>
      <p
        [class.text-default]="i === otherItems.length - 1"
        [class.text-secondary]="i !== otherItems.length - 1"
        [matTooltip]="crumb.name"
        class="max-w-[80px] truncate mx-1">
        {{ crumb.name }}
      </p>
    </button>
  }
</div>
