<div class="flex flex-col gap-2">
  <div class="fixed-space">
    <app-breadcrumb [type]="'container'"/>
    <div class="flex justify-between items-center">
      <div class="flex items-center gap-2 px-[3%]">
        <mat-icon class="icon-size-8" svgIcon="folder"></mat-icon>
        <div class="flex flex-col items-start">
          <h1 class="truncate min-w-[30px]"> {{ selectedClassName }} </h1>
          <button
            (click)="viewFolderProperties()"
            [class.text-primary]="canViewProperties"
            [disabled]="!canViewProperties"
            class="truncate min-w-[30px]">
            {{ 'folderStructure.viewFolderProperty' | translate }}
          </button>
        </div>
      </div>
      <div class="flex flex-wrap justify-end gap-2">
        <button
          (click)="addFolder()"
          [disabled]="!canAddFolder"
          class="flex items-center gap-2"
          color="primary"
          mat-raised-button
        >
          <mat-icon svgIcon="add-folder"></mat-icon>
          <p> {{ 'folderStructure.addFolder' | translate }}</p>
        </button>
        <button
          (click)="addDocument()"
          [disabled]="!canAddDocument"
          class="flex items-center gap-2"
          color="primary"
          mat-raised-button
        >
          <mat-icon svgIcon="add-document"></mat-icon>
          <p> {{ 'folderStructure.addDocument' | translate }}</p>
        </button>
      </div>
    </div>
  </div>
  <organizo-grid-wrapper
    [column-config]="gridDef?.gridConfig?.columnsDef"
    [config]="gridDef?.gridConfig"
    [data-source]="gridDef?.dataSource$"
  ></organizo-grid-wrapper>
</div>
