<div>
  <mat-form-field class="w-full h-full">
    <mat-label> {{ props?.label | translate }}</mat-label>
    <input
      [formControl]="myControl"
      [hidden]="props?.hideExpression || false"
      [matAutocomplete]="auto"
      [placeholder]="props?.placeholder | translate"
      [required]="props?.required || false"
      matInput
      type="text"
    >
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of filteredOptions | async; track $index) {
        <mat-option [value]="get(option, props?.labelProp)">
          {{ get(option, props?.labelProp) }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
