<div class="flex flex-col w-full h-full">

  <div class="classification-form p-4">
    <form [formGroup]="classificationSearch.group">
      <formly-form
        [fields]="classificationSearch.fields"
        [form]="classificationSearch.group"
        [model]="classificationSearch.model"
        [options]="classificationSearch.options">
      </formly-form>
    </form>
  </div>

  <div class="p-4">
    <mat-expansion-panel [(expanded)]="hideGrid" [class.hidden]="hideTemplate">
      <mat-expansion-panel-header>
        {{ searchPageName$ | async }}
      </mat-expansion-panel-header>
      <div class="search-form">
        <div class="dialog-content">
          <form [formGroup]="dynamicSearchForm.group">
            <formly-form
              [fields]="dynamicSearchForm.fields"
              [form]="dynamicSearchForm.group"
              [model]="dynamicSearchForm.model"
              [options]="dynamicSearchForm.options">
            </formly-form>
          </form>
        </div>
        <div class="dialog-actions">
          <button
            (click)="getFilteredDocuments(dynamicSearchForm.model)"
            [disabled]="!dynamicSearchForm.group.valid"
            color="primary"
            mat-raised-button
            type="submit"
          >
            {{ 'app.search' | translate }}
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="p-4">
    <organizo-grid-wrapper
      [class.hidden]="hideGrid"
      [column-config]="gridDef?.gridConfig?.columnsDef"
      [config]="gridDef?.gridConfig"
      [data-source]="gridDef?.dataSource$"
    ></organizo-grid-wrapper>
  </div>

</div>
