<div class="relative flex flex-auto w-full bg-card dark:bg-transparent">

    <!-- Mails list -->
      @if(tasks && tasks.length > 0 ){
        <div class="relative flex flex-auto flex-col w-full min-w-0 lg:min-w-90 lg:max-w-90 border-r z-10">

          <!-- Header -->
          <div class="relative flex flex-0 items-center justify-between h-16 px-4 border-b bg-gray-50 dark:bg-transparent">

            <div class="flex items-center">
              <!-- Sidebar toggle button -->
              <button
                mat-icon-button
                (click)="mailboxComponent.drawer.toggle()">
                <mat-icon [svgIcon]="'organizo-outline-icons:bars-3'"></mat-icon>
              </button>
              <!-- Category name -->
              <div class="ml-2 font-semibold uppercase">{{'processEngine.inbox' | translate}}</div>
            </div>
          </div>

          <!-- Mail list -->
          <div
            class="overflow-y-auto"
            #mailList>

            <!-- Item loop -->

              @for (task of tasks; track i; let i = $index){
              <!-- Item -->
              <a
                class="relative flex border-t first:border-0 hover:bg-hover"
                (click)="onTaskSelected(task)">

                <!-- Item content -->
                <div
                  class="flex flex-col items-start justify-start
                   w-full py-6 pr-4 pl-5 border-l-4 border-transparent">

                  <!-- Info -->
                  <div class="flex items-center w-full">
                    <!-- Sender name -->
                    <div class="mr-2 font-semibold truncate">
                      {{get(task,'creator')}}
                    </div>
                    <!-- Date -->
                    <div class="ml-auto text-md text-right whitespace-nowrap text-hint">
                      {{get(task,'creationDate') | date:'LLL dd, yyyy'}}
                    </div>
                  </div>

                  <!-- Subject -->
                  <div class="flex items-center w-full mt-1">
                    <span class="leading-4 truncate">{{get(task,'properties.content.body')}}</span>
                  </div>


                </div>

              </a>
              }
          </div>

        </div>
      } @else {

        <div class="z-100 absolute inset-0 flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
          <mat-icon
            class="icon-size-24"
            [svgIcon]="'organizo-outline-icons:envelope'"></mat-icon>
          <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">There are no Tasks.</div>
        </div>
      }


    <!-- Mail details -->
    <ng-container *ngIf="tasks && tasks.length > 0">
        <div
            class="flex-auto">
          <inbox-details [selectedTask]="selectedTask"></inbox-details>
        </div>
    </ng-container>

</div>
